<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>First Vue App/Shopping List</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="list">
        <div class="header">
      <h1>{{ header.toLocaleUpperCase() }}</h1>
      <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')">Add Item</button>
      <button v-else class="btn btn-cancle" @click="changeState('default')">Cancle Item</button>
    </div>
      <div v-if="state === 'default' " class="addform">
          <input v-model="newList" type="text" placeholder="Please add your item" @keyup.enter="saveList">
          <button class="btn btn-primary" v-bind:disable="newList.lenght === 0" @click="saveList">Save List</button>
      </div>
      <a v-bind:href="newList" target="_blank">Interactive Link</a>
      <ul>
          <li v-for="item in items">{{ item }}</li>
      </ul>
      <p v-if="items.length === 0">Nice job! You've cleared your list!!</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const shopList = new Vue({
        el: '#list',
        data: {
            state: 'default',
          header: 'Vue Developer!',
          newList: '',
          items: [
            // 'Pick up some ginger',
            //  'Vitamins at GNC',
            //  'Pick up some coffee',
          ]
        },
        methods: {
            saveList: function() {
                this.items.push(this.newList);
                this.newList = '';
            },
            changeState: function(){
                this.state = saveList;

                this.newList = '';
            }
        }
      });
    </script>
  </body>
</html>
