<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>First Vue App/Shopping List</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="list">
      <h1>{{ header.toLocaleUpperCase() }}</h1>
      <div class="itemForm">
          <input v-model="newList" type="text" placeholder="Please add your item" @keyup.enter="saveList">
          <button class="btn btn-primary" @click="saveList">Save List</button>
      </div>
      <ul>
          <li v-for="item in items">{{ item }}</li>
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const shopList = new Vue({
        el: '#list',
        data: {
          header: 'Vue Developer!',
          newList: '',
          items: [
              'Pick up some ginger',
              'Vitamins at GNC',
              'Pick up some coffee',
          ]
        },
        methods: {
            saveList: function() {
                this.items.push(this.newList);
                this.newList = '';
            }
        }
      });
    </script>
  </body>
</html>
